h1 {
    padding-top: 40px;
    text-align: center;
}

section#content {
  /* same effect as below */
  /* margin-right: 260px; */
  /* margin-left: 260px; */
  /* text-align: justify; */
  width: 700px;
  margin: auto;
}

body {
  background: url("images/war3-background-optmized.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100px;
}

section.transbox {
    margin-left: 150px;
    margin-right: 150px;
    width: 1000px;
    margin: auto;
    background-color: #ffffff;
    border: 1px  black;
    opacity: 0.8;
    filter: alpha(opacity=60); [> For IE8 and earlier <]
}

/* section.transbox { */
    /* margin-left: 150px; */
    /* margin-right: 150px; */
    /* width: 1000px; */
    /* margin: auto; */
    /* border: 1px  black; */
    /* position: relative; */
/* } */


/* section.transbox::before { */
    /* top: 0; */
    /* left: 0; */
    /* content: ' '; */
    /* display: block; */
    /* height: 100%; */
    /* width: 100%; */
    /* position: absolute; */
    /* margin-left: 150px; */
    /* margin-right: 150px; */
    /* margin: auto; */
    /* background-color: #ffffff; */
    /* border: 1px  black; */
    /* opacity: 0.7; */
    /* filter: alpha(opacity=60); [> For IE8 and earlier <] */
    /* z-index: -1; */
/* } */

section.transbox p {
    font-weight: normal;
    color: #000000;
}
