h1 {
    text-align: center;
}

header {
  margin-right: 130px;
  margin-left: 130px;
}

section#content {
  margin-right: 260px;
  margin-left: 260px;
  text-align: justify;
}

body {
  background: url("war3-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100px;
}

section.transbox {
    margin-left: 150px;
    margin-right: 150px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

section.transbox p {
    /* font-weight: bold; */
    color: #000000;
}
